.asidedesktop {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  width: 400px;
  max-height: 1200px;
  margin-left: 300px;
  position: sticky;
  top: 85px;
}
.tituloaside {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  flex-direction: column;
}
.divcard1 {
  display: flex;
  flex-direction: column;
}
.li1 {
  display: flex;
  position: relative;
}
.imgaside {
  width: 52px;
  height: 52px;
  display: flex;
}
.divcargouser {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 10px;
}
.usercard1 {
  display: flex;
  margin-top: 5px;
}
.cargoaside1 {
  display: flex;
  position: absolute;
  margin-top: 40px;
  font-size: 12px;
}
.botaoseguindo {
  background-color: var(--color-botao);
  color: white;
  width: 89px;
  height: 28px;
  border: 1px solid #4263eb;
  border-radius: 2px;
  margin-left: 100px;
}

.botaoseguir {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #212529;
  width: 89px;
  height: 28px;
  border-radius: 4px;
  margin-left: 82px;
  border: 1px solid black;
}
.botaoseguir2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #212529;
  width: 89px;
  height: 28px;
  border-radius: 4px;
  margin-left: 70px;
  border: 1px solid black;
}
@media (min-width: 600px) {
  .asidemobile {
    display: none;
  }
}
@media (max-width: 600px) {
  .asidedesktop {
    display: none;
  }
  .asidemobile {
    display: flex;
    margin-bottom: 40px;
  }
}
.divcard1mobile {
  display: flex;
  flex-direction: row;
  overflow: auto;
  max-width: 400px;
  gap: 5px;
  margin-top: 0px;
  margin-left: -40px;
}
.tituloasidemobile {
  color: black;
  position: absolute;
  top:-50px;
  left: 60px;
}
.li1mobile {
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 10px;
  min-width:100px;
}
.imgasidemmobile {
  margin-left: 24px;
  width: var(--imagem-tamanho-width);
  height: var(--imagem-tamanho-height);
}
.botaoseguindomobile {
  background-color: var(--color-botao);
  margin-top: 30px;
  color: white;
  width: 89px;
  height: 28px;
  border: 1px solid #4263eb;
  border-radius: 2px;
  margin-left: 10px;
}

.limobile2 {
  flex-direction: row;
  align-items: flex-start;
  list-style: none;
  padding: 10px;
  min-width:130px;
}
.limobile3{
    list-style: none;
    margin-bottom: 10px;
    min-width:123px;
}
.botaoseguirmobile2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #212529;
  width: 89px;
  height: 28px;
  border-radius: 2px;
  margin-left: 12px;
}
