:root{
    --width-postagem:713px;
    --list-style:none;
    --width-modal:400px;
    --font-weight:400;
    --color-posts:#495057;
    --color-header:#212529;
    --color-input:#DEE2E6;
    --color-botao:#4263EB;
    --background-color-input:#FFFFFF;
    --background-color-botao:#212529;
    --imagem-tamanho-width:52px;
    --imagem-tamanho-height:52px;
    --font-family:"inter"
    
}